/*כאן יהיה האזור הראשי*/
main {
    position: relative;
    right: 15px;
}

.textUnderImage {
    display: inline-block;
    text-align: center;
}

.resize {
    width: 55%;
}

#HITlogo {
    width: 10%;
    display: block;
}
/*כאן יהיה האזור הראשי*/





