form{
    position:relative;
    right: 20px;
}

fieldset {
    width: 150px;
}

button {
    color: white;
    background-color: #7B9314;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    background-color: #6A7D10;
}

.overlaypic {
    opacity: 1;
    width: 100%;
}

.overlaypic:hover {
    opacity: 0.6;
}

.attraction {
    position: relative;
    width:300px;
}

.overlay {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.attraction:hover .overlay {
    opacity: 1;
}

.column {
    float: right;
    width: 25%;
    padding-bottom: 20px;
}

.row{
    position:relative;
    right: 10px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.attraction img {
    width: 300px;
    height: 300px;
    object-fit: cover; /*הרכיב שגורם לתמונה להיכנס לתוך התיבה שיצרנו ולא להימרח*/
    border-radius: 5px;
}
