section{
    display: flex;
    place-items: center;
    position:relative;
    top:50px;
    right: 90px;
}

/*כאן יהיה האזור הראשי*/
#homepic {
    width: 34%;
    padding-left: 60px;
}

#vspic {
    width: 8%;
    padding-left: 40px;
}

#naturepic {
    width: 38%;
}

/*כאן יהיה האזור הראשי*/

/*כאן תהיה אנימציה של מעבר עכבר על כפתורים*/
#homepic:hover, #naturepic:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    transition: width 0.3s, ease ease-in 0.3s, ease-out 0.3s;
}
/*כאן תהיה אנימציה של מעבר עכבר על כפתורים*/
