.category {
    text-align: center;
}

.movies {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.movie {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.movie img {
    width: 150px;
    height: 225px;
    border-radius: 8px;
    transition: transform 0.3s;
    object-fit: cover;
}

.movie p {
    margin: 10px 0 0;
    font-size: 14px;
}

.movie a {
    text-decoration: none;
    color: #001B39;
}

.movie:hover {
    transform: scale(1.05)
}
